<div class="container mb-4" id="first-line-margin-top">
        <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
                        <a routerLink="/home" title="- för din personliga utveckling" rel="home"
                                class="trail-begin">Hem</a>
                </span><span class="sep"> » </span> <a routerLink="/development"
                        class="trail-end">Personalutveckling</a> <span class="sep"> » </span> <span
                        class="trail-end">utveckling</span>
        </div>
        <br>
 
</div>
    
<div class="container mb-4" id="margin-top-first-line">

        <div class="template" data-mobile-view="false">
    
    
    
            <div class="Preview_row__3Fkye row" style="width:1000px">
                <div data-id="0AC6273D-C9B5-4AE8-86B4-999DE7370DA5" data-kind="TEXT"
                    style="width:590px;margin-top:62px;margin-left:205px"
                    class="Preview_componentWrapper__2i4QI">
                    <div data-id="0AC6273D-C9B5-4AE8-86B4-999DE7370DA5" data-kind="Component" data-specific-kind="TEXT"
                        class="Preview_component__SbiKo text-align-undefined">
                        <div data-mve-font-change="0" class="styles_contentContainer__lrPIa textnormal styles_text__3jGMu">
                            <h1 class="textheading1" style="color: rgb(95, 95, 95);">Personlig utveckling kommande kurser och event</h1>
    
                            <h1 class="textheading1">2020</h1>
                            <p class="mobile-undersized-upper">Planering pågår. Mer information kommer.</p>
                          
    
    
                                    <h1 class="textheading1">tidigare kurser</h1>
                            <p class="mobile-undersized-upper">Planering pågår. Mer information kommer.</p>
                            <p class="mobile-undersized-upper">&nbsp;</p>
                            <p class="mobile-undersized-upper"><span style="font-weight: bold;">Januari</span></p>
                            <p class="mobile-undersized-upper">2020-01-25--26</p>
                            <p class="mobile-undersized-upper">Helgkurs i fox - Fifty Shades with Your Partner, Bollnäs</p>
                            <p class="mobile-undersized-upper">Instruktörer <a class="link1" style="color: #3663a8;"
                                    href="https://www.facebook.com/Camilia.moork">Camilia</a> och <a class="link1"
                                    style="color: #3663a8;" href="https://www.facebook.com/CamiliaMoork">Camilia</a></p>
                            <p class="mobile-undersized-upper"><a class="link1"
                                    href="https://dans.se/DansKurs/shop/?event=93687">Anmälan och information</a></p>
                            <p class="mobile-undersized-upper"><a class="link1"
                                    href="https://www.facebook.com/Camilia/2266295926819151/">Facebookevent</a></p>
                            <p class="mobile-undersized-upper"><br></p>
                            <p class="mobile-undersized-upper"><span style="font-weight: bold;">Februari</span></p>
                            <p class="mobile-undersized-upper">2020-02-01--02</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
