<div class="container"  id="first-line-margin-top">
    <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
            <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
                </span><span class="sep"> » </span> <a routerLink="/medial" class="trail-end">Medial</a> <span
                class="sep"> » </span> <span class="trail-end">Sittningar & Chakrabalansering</span>
        </div>
        <br>
        <p>Camilla har en medial gåva, vilket betyder att hon kan få kontakt med dina anhöriga på andra sidan.
            I ett möte eller en behandling kan du få guidande information från familj, vänner, släktingar som
            lämnat jordelivet. Din andliga familj träder fram till dig som är öppen för det.
            Dessa brukar träda fram och förmedla budskap för att hjälpa dig på vägen.
            De vill dig alltid väl och deras avsikt är alltid att få dig att må bättre och att hjälpa dig på rätt väg.
            Vi får inte alltid höra det vi vill höra och vi får inte alltid budskap från den vi önskar ska träda fram.
            Du har en uppgift här på jorden och den ska du lösa själv. Men du kan alltid få råd på vägen och be
            om vägledning. Vi har alla denna gåva inuti oss. Din intuition är en del av detta.
            Änglarna och din andliga familj vill få dig att gå den väg du är ämnad att gå. Då kommer ditt liv bli
            enklare. Du skall inte behöva kämpa och slita ut dig för att må bra. Må bra är ditt naturliga tillstånd.
            När du har förlorat någon du älskar, någon som stått dig nära eller själv varit med om olycka eller
            trauman kan det vara svårt att förstå att det finns ett syfte med sitt liv. Men det finns ett syfte. Vi är
            en helhet och de du förlorar försvinner inte, du är fortfarande sammanlänkad med de som gått bort.
            De finns många änglabarn i himlen och deras uppgift på jorden varade en kort period. De jag haft
            kontakt med förmedlar att de idag mår bra och är starka ljusvarelser. Dessa änglabarn vill att deras
            jordföräldrar skall förstå detta och att föräldrarnas uppgift är att leva fullt ut, må bra och känna
            livsglädje och kärlek igen.
            Den du förlorat finns kvar hos dig, du kan ofta känna dem i din närhet om du tillåter ditt sinne att
            släppa in dem &lt;3
            
            Hos Camilla kan du boka medial vägledning i form av privat sittning med tarotkort.
            Chakrabalansering, är en guidad djupavslappning som hjälper dig att släppa ut gamla känslomässiga
            blockeringar från obearbetade händelser. Dessa blockeringar kan ligga i ditt undermedvetna och
            påverka ditt liv negativt. Vi har 7 olika chakran. Varje chakra är kopplad till olika känslor och även till
            en viss färg. Under denna balansering får du även mediala budskap som hjälper dig vidare. Under
            behandlingen kan tårar och känslor bli väldigt starka. Alla känslor behövs i våra liv, även de jobbiga.
            Det är när vi inte tillåter våra känslor att få finnas som blockeringar uppstår. Många upplever en stor
            lättnadskänsla efteråt.
            Det går även bra att boka en massage, där du kan få mediala budskap.
            Camilla ordnar kurser inom det mediala och kan bokas för sittningar, chakrabalasering på din ort.
            Vill du bli guidad genom Camilla så bokar du din tid på camilla@rise-and-shine.se
            Du kan även följa Camilla som bloggare på Tarotguiderna.se under riseandshine.tarotguiderna.se</p>
        <br>
        <div class="row">
            <div class="span12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Namn</th>
                            <th>Beskrivning</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="color:red">
                            <td>9/12/2019</td>
                            <td>lorem</td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo explicabo debitis laboriosam id nobis facilis fugiat placeat vero cumque quasi.</td>
                            <td></td>
                        </tr>
                        <tr style="color: brown;">
                            <td>9/12/2019</td>
                            <td>lorem</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, nesciunt. Saepe, cupiditate. Blanditiis in magni id magnam facere recusandae similique.</td>
                            <td></td>
                        </tr>
                      
                   
                  
                       
                    </tbody>
                </table>
            </div>
            </div>
    </div>

