<div class="container mb-4" id="first-line-margin-top">
  <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
      <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem </a>
    </span> <span class="sep">»</span> <span class="trail-end"> Behandlingar</span>
  </div>
  <h2 id="h5-gray">Behandlingar</h2>

  <div class="card-deck ">
    <div class="card">
      <img src="../../assets/54.jpg" id="card-img-before"
        onclick="document.getElementById('modal01').style.display='block'" alt="Card image cap">

      <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom" id="card-img-later">
          <img src="../../assets/54.jpg" >
          <span class="close">&times;</span>
          <div id="caption">picture</div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title text-center" routerLink="/massage" id="h5-gray">Massage & Avslappning</h5>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/5test.jpg" id="card-img-before"
        onclick="document.getElementById('modal02').style.display='block'" alt="Card image cap">

      <div id="modal02" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom" id="card-img-later">
          <img src="../../assets/5test.jpg" >
          <span class="close">&times;</span>
          <div id="caption">picture</div>
        </div>
      </div>

      <div class="card-body" routerLink="/alternativ-medicin">
        <h5 class="card-title text-center" id="h5-gray">Alternativ Medicin</h5>
      </div>
    </div>


  </div> <br>

  <p class="text-justify">Med 19 års erfarenhet av behandlingar av skador, värk o smärta. <br> Erfarenhet av träning,
    övningar och vidareutbildningar så har jag en stor bredd för att kunna hjälpa dig att bli bättre i din kropp. <br>
    Jag jobbar alltid utifrån ett helhetsperspektiv för att du ska få bästa resultat. <br>
    Utifrån dina önskemål och behov kan du boka
    Avslappningamassage eller
    Djupgående behandlande massage ( idrottsmassage) för dig med besvär. <br> Många kunder benämner massagen som
    skön-ont. Även djup massage ger dig avslappning.
    Jag korrigerar benlängsskillnad med mjuk metod utan att knäcka. <br>

    Som Näringsterapeut kan jag även rekommendera dig tillskott för att förbättra förutsättningarna i din kropp. <br>
    Vanliga brister är mineraler och B- vitaminer. Hos mig får du alltid en specifik rekommendation vad som gäller för
    just dig. <br>

    Som träningsinstruktör med egen erfarenhet av träning på hög nivå. Och genom erfarenheten att samarbeta med
    sjukgymnaster så kan du få tips och
    råd på övningar som komplement till din massage. <br>

    Då jag endast tar ett mindre antal massagekunder / vecka så är mitt engagemang stort.

    Se fler behandlingar längre ned.</p>


</div>