<section class="container" id="first-line-margin-top">
    <section class="container mb-4" id="first-line-margin-top">
        <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
                <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
            </span><span class="sep"> » </span> <a routerLink="/treatment" class="trail-end">Behandling</a> <span
                class="sep"> » </span> <span class="trail-end">Alternativmedicin</span>
        </div>
        <br>
        <h4 id="h5-gray">Alternativmedicin</h4>
        <p>”Jag vill att du ska vara den bästa versionen av dig själv”</p>
        <p>För att ha en frisk och stark kropp är det viktigt att skapa rätt grundförutsättningar för att du ska kunna
            må bra/må bättre. Inom alternativmedicin arbetar jag med helhetstänket. Det som skiljer skolmedicin från
            alternativmedicin är att det inte behöver finnas en diagnos för att göra en behandling. Det finns de som är
            svårt sjuka som mår bra och det finns de som är friska (enligt skolmedicinska tester) men mår väldigt
            dåligt.
            <br>
            <br>
            Inom alternativmedicin arbetar jag med att stärka upp kroppen utifrån hur du mår. Det finns mycket vi kan
            göra själva genom att göra bra val i våran livsstil. Genom att göra bra val kan du hålla dig frisk, stark
            och lättare hålla sjukdomar borta.
            <br>
            <br>
            Alternativmedicin kan du även använda i förebyggande syfte för att investera i en frisk framtid, istället
            för att vänta på att bli sjuk för att sedan behandla din kropp.
            <br>
            <p>Att använda alternativmedicin innebär att du stärker din kropp med:</p>
            <ul>
                <li>rätt kost, superfood</li>
                <li>kosttillskott, örter, enzymer, homeopatmedel, näringsdrycker</li>
                <li>sömn</li>
                <li>motion, rörelse</li>
                <li>mental inställning, mental träning</li>
                <li>avslappning/återhämtning</li>
            </ul>
            <p>Kinesiologi testning</p>
            <p>Genom muskeltestning testar jag om det finns svagheter i dina organ. Sedan testar jag vilka preparat,
                kosttillskott som stärker dessa svagheter. Jag testar hur länge du behöver äta ett preparat och
                dosering.
                <br><br>
                Våran livsstil idag där allting ska gå snabb, är både på gott och ont. Vi har tillgång till skräpmat och
                massa olika drycker som innehåller kemikalier socker och falsk energi.
                <br><br>
                Vi stressar allt mer för att i slutändan kunna koppla av och må bra. Idag finns stressen redan hos
                mycket unga personer och även barn. Att må bra står högt på listan hos de flesta, men många mår dåligt
                och upplever att tiden springer oss förbi. Flertalet marker där vår föda odlas är utarmade på näring på
                grund av vår livsstil och flera områden är besprutade med kemikalier som är giftiga för vår kropp och
                även för vår natur. Den naturliga processen förstörs. När vi lever på detta vis uppstår obalanser i
                kroppen o vi får näringsbrister. På sikt skapar dessa brister och denna stress sjukdom. Genom att ta ett
                eget ansvar för din hälsa och ditt liv så investerar du i dig själv, där du har större chans till ett
                friskt och rikt liv.
                <br>
            </p>
            <p>Camilla Wellsén Utbildad Näringsterapeut på NNFS i Stockholm 2004-2006</p>

    </section>