<div class="container mb-4" id="first-line-margin-top">
  <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
      <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
    </span> <span class="sep"> » </span> <span class="trail-end">Personalutveckling</span>
  </div>
  <br>
  <h2>Personlig Utveckling</h2>

  <div class="card-deck">
    <div class="card col-md-3" style="background-color: inherit; border:none">
      <img src="../../assets/65.png" style="width:100%;cursor:zoom-in; "
        onclick="document.getElementById('modal01').style.display='block'" alt="Card image cap">

      <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom" style=" width: 30%; height: 100%;">
          <img src="../../assets/65.png" style="width: 100%; height: 100%;" />
          <span class="close">&times;</span>
          <div id="caption"></div>
        </div>
      </div>

      <div class="card-body" routerLink="/coaching">
        <h5 class="card-title text-center" id="h5-gray">Coaching</h5>
      </div>
    </div>
    <div class="card"  style="background-color: inherit; border:none">
      <img src="../../assets/63.jpg" style="width:100%;cursor:zoom-in"
        onclick="document.getElementById('modal02').style.display='block'" alt="Card image cap">

      <div id="modal02" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom" style="margin-top: 10px;">
          <img src="../../assets/63.jpg" style="width:100%">
          <span class="close">&times;</span>
          <div id="caption" id="h5-gray"></div>
        </div>
      </div>

      <div class="card-body" routerLink="/lecture">
        <h5 class="card-title text-center" id="h5-gray">Föreläsning Utbildning</h5>
      </div>
    </div>


  </div> <br>



  <div>Rise and Shine -för din personliga utveckling är ett företag som arbetar med helhetshälsa genom ett
    holistiskt synsätt. Vilket betyder att hjälpa kunder att må så bra som möjligt, fysiskt mentalt och
    spirituellt. Dance Together är ett biföretag till Rise and Shine. Dance Together erbjuder motion,
    glädje och utmaning i form av gruppträningspass i konceptet Fortgjort och danskurser i bugg och
    modern fox. <br><br>
    Camilla Wellsén startade sitt första företag 2002 och har sedan dess utvecklat sin verksamhet genom
    utbildningar och vidareutbildningar inom flera områden inom hälsa. <br><br>
    Genom utbildning och av många års erfarenhet har Camilla förstått vad begreppet helhetshälsa
    betyder. Det är fullt möjligt att läka kroppen, men det är omöjligt att läka bara en del. Då vi är en
    helhet.</div>



  <!-- <h2>Read More Read Less Button</h2> -->
  <p>Så söker du för smärta och värk i nacke axlar eller bröstrygg, så betyder det inte alltid att det är något
    fel på dina muskler eller något du gjort fysiskt. Du behöver se över vad det är som orsakar dina
    symptom. T ex Stress, kost, sömn.
    <span id="dots">...</span>
    <span id="more">
      <br><br>
      Din mentala hälsa spelar en stor roll i ditt mående. Vad du tänker för tankar och vad dessa tankar ger
      dig för känslor. Lever du med känslor som sorg, oro, rädsla, ilska, svartsjuka, avundsjuka skapar dessa
      spänningar och blockeringar i din kropp. Kroppen är gjord för att klara tillfällig anspänning, men när
      vi går runt med långvarig spänning får vi ej tillräckligt med syre. Kroppen får aldrig tid till avspänning
      eller avkoppling. Vilket i sin tur skapar syrebrist och smärta. Vilket i sin tur kan skapa sömnbrist och
      brister på näringsämnen, mera oro och mera spänning. Detta blir ett ekorrhjul som snurrar på i en
      negativ riktning. Sjukdom kan uppstå. <br><br>
      Det kan vara svårt att ta sig ur detta ekorrhjul då man ofta letar efter fysiska svar på smärta. <br><br>
      Här är det viktigt att se över helheten och bit för bit arbeta för en långsiktig hållbar förändring.<br><br>
      Tillsammans med Camilla kan du få hjälp att reda ut vad som är bästa vägen för dig.<br><br>

      Rise and Shines vision:<br><br>
      Att med enkla medel få till en långsiktig hållbar förändring i samhället.<br><br>
      Där fokus ligger på friskvård och eget ansvar. Där vi tillsammans verkar för en friskare bättre värld.<br><br><br>

      Varmt välkommen att läsa mer om mina behandlingar och kurser <br><br>
      Camilla Wellsén <br>
      Mentaltränare Medial vägledare <br>
      Näringsterapeut Dansinstruktör Gruppträningsinstruktör Massageterapeut
      Låt det bli som du har tänkt dig..

      eller bättre.</span><a onclick="myFunction()" id="readmore" >Read more</a></p>
  

</div>