<div class="container"  id="first-line-margin-top">
    <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
            <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
                </span><span class="sep"> » </span> <a routerLink="/medial" class="trail-end">Medial</a> <span
                class="sep"> » </span> <span class="trail-end">Kurser & Utbildningar</span>
        </div>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis incidunt, ex hic natus cumque dolores earum velit repellat sint porro molestias perspiciatis labore eligendi similique odit repellendus nihil, doloremque illum impedit totam corporis maxime esse facilis excepturi. Reiciendis, est suscipit! Lorem, ipsum.</p>
        <br>
        <div class="row">
            <div class="span12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Namn</th>
                            <th>Beskrivning</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="color:red">
                            <td>9/12/2019</td>
                            <td>lorem</td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo explicabo debitis laboriosam id nobis facilis fugiat placeat vero cumque quasi.</td>
                            <td></td>
                        </tr>
                        <tr style="color: brown;">
                            <td>9/12/2019</td>
                            <td>lorem</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, nesciunt. Saepe, cupiditate. Blanditiis in magni id magnam facere recusandae similique.</td>
                            <td></td>
                        </tr>
                      
                   
                  
                       
                    </tbody>
                </table>
            </div>
            </div>
    </div>

