<div class="container mb-4" id="first-line-margin-top">
  <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
      <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
    </span> <span class="sep"> </span> <span class="trail-end"></span>
  </div>
  <div id="demo" class="main carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img d-block w-100 src="../../assets/58.jpg" alt="Los Angeles">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1 class="font-italic">Camilla Wellsén</h1>
            <h4 class="font-italic" id="carousel-text-color-darkgrey">
              Mental tränare, Medialvägledare, Näringsterapeut,
              Dansinstruktör, Gruppträningsinstruktör
            </h4>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/57.jpg" alt="Chicago">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1 class="font-italic">Personlig utveckling</h1>
            <h4 class="font-italic" id="carousel-text-color-darkgrey">
              Coaching,föreläsning,kurser och utbildningar
            </h4>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/56.jpg" alt="New York">
        <div class="container">
          <div class="carousel-caption text-left" id="carousel-text-color-wheat">
            <h1 class="font-italic">Massage & Avslappning</h1>
            <h4 class="font-italic" id="carousel-text-color-wheat">
              Klassisk finsk
              massage,idrottmassage,nervbanemassage,triggerpunktbehandling,guidad
              avslappning,fotbehandling
            </h4>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/64.jpg" alt="New York">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1 class="font-italic" id="carousel-text-color-white">Medial vägledning</h1>
            <h4 class="font-italic" id="carousel-text-color-white">
              Privata sittningar,kurser,event,chakrabalansering
            </h4>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/52.jpg" alt="New York">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1 class="font-italic" id="carousel-text-color-white">Dance Together</h1>
            <h4 class="font-italic" id="carousel-text-color-white">
              Dance Together är ett biföretag till Rise and Shine.Vi erbjuder
              danskurser,dansevent,gruppträning,gruppresor till Cypern.
            </h4>
          </div>
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <div class="text px-0">
    <h1 class="font-italic"> Rise and Shine:</h1>
    <p class="lead font-italic my-3"><strong> Rise and Shine </strong> för din personliga utveckling är ett företag
      som arbetar med helhetshälsa genom ett
      holistiskt synsätt. Vilket betyder att hjälpa kunder att nå optimal hälsa, fysiskt mentalt och
      spirituellt. Dance Together är ett biföretag till Rise and Shine. Dance Together erbjuder motion,
      glädje och utmaning i form av gruppträningspass i konceptet Fortgjort och danskurser i bugg och
      modern fox. <br> <br>
      Camilla Wellsén startade sitt första företag 2002 och har sedan dess utvecklat sin verksamhet genom
      utbildningar och vidareutbildningar inom flera områden inom hälsa.
      Genom utbildning och av många års erfarenhet har Camilla förstått vad begreppet helhetshälsa
      betyder. Det är fullt möjligt att läka kroppen, men det är omöjligt att läka bara en del ,då vi är en
      helhet.
      Söker du för smärta och värk i nacke axlar eller bröstrygg, så betyder det inte alltid att det är något
      fel på dina muskler eller något du gjort fysiskt. Du behöver se över vad det är som orsakar dina
      symptom. T ex Stress, kost, sömn.
      Din mentala hälsa spelar en stor roll i ditt mående. Vad du tänker för tankar och vad dessa tankar ger
      dig för känslor. Lever du med känslor som sorg, oro, rädsla, ilska, svartsjuka, avundsjuka skapar dessa
      spänningar och blockeringar i din kropp. <br> <br> Kroppen är gjord för att klara tillfällig anspänning, men när
      vi går runt med långvarig spänning får vi ej tillräckligt med syre. Kroppen får aldrig tid till avspänning
      eller avkoppling. Vilket i sin tur skapar syrebrist och smärta. Vilket i sin tur kan skapa sömnbrist och
      brister på näringsämnen, mera oro och mera spänning. Detta blir ett ekorrhjul som snurrar på i en
      negativ riktning. Sjukdom kan uppstå.
      Det kan vara svårt att ta sig ur detta ekorrhjul då man ofta letar efter fysiska svar på smärta.
      Här är det viktigt att se över helheten och bit för bit arbeta för en långsiktig hållbar förändring.
      Tillsammans med Camilla kan du få hjälp att reda ut vad som är bästa vägen för dig. <br> <br>
      Varmt välkommen att läsa mer om mina behandlingar och kurser. <br>
      Camilla Wellsén
    </p>
  </div>
  <div class="card-deck">
    

    <div class="card bg-dark text-white my-5">
      <img src="../../assets/58.jpg" id="card-img-before"
        onclick="document.getElementById('modal01').style.display='block'">

      <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom" id="card-img-later">
          <img src="../../assets/58.jpg">
          <span class="close">&times;</span>
          <div id="caption">picture</div>
        </div>
      </div>
      <div class="card-img-overlay " id="card-img-text">
        <h5 class="card-title">Rise and Shines vision</h5>
        <p class="card-text">Att med enkla medel få till en långsiktig hållbar förändring i samhället. Där fokus
          ligger på friskvård och eget ansvar. Där vi tillsammans verkar för en friskare bättre värld.
      </div>
    </div>

    <div class="card col-md-4 my-5" style="border: none; background-color: inherit; ">
      <img src="../../assets/59.jpg" id="card-img-before"
        onclick="document.getElementById('modal02').style.display='block'">

      <div id="modal02" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom" style=" width: 30%; height: 100%;">
          <img src="../../assets/59.jpg" style="width: 100%; height: 100%;" />
          <span class="close">&times;</span>
          <div id="caption">picture</div>
        </div>
      </div>
      <div class="card-img-overlay " style="margin-top:240px;">
        <h5 class="card-title"></h5>
        <p class="card-text">

      </div>
    </div>


  </div> <br>



</div>