
@import '../../_colors.scss';



#carousel-text-color-darkgrey {
 color: darken($dark-gray, 2%)
}

#carousel-text-color-wheat {
    color: darken($white, 9%)
   }
   #carousel-text-color-white {
    color:$white;
   }
.carousel-item img {
    max-height: 580px;
}

.main {

    padding-top: 20px;
    padding-bottom: 10px;
    
}



.carousel-inner img {
    vertical-align: middle;
    border-style: none;
  height: 100%;
  width: 100%;
}

h1 {
    color:darken($white,20%);
}

.card-deck img {
    height: 400px;
}

.text p {
    font-size: 15px;
}
#card-img-text{
    color: darken($white,1%);
}
#card-img-text strong{
    color: darken($white,50%);
}
  @media only screen and (max-width: 650px) {
        #home-last-image {
         max-width:80%;
         height: 100%;
        }}